/*  add your styles below
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body {
    background: #2F343B; /* change */
    color: #fff; /* change */
    font-family: Calibri, Arial, sans-serif; /* keep */
}

article {
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    background: #7E827A
}

header {
    background: #703030
}
footer {
    background: #703030
}
aside {
    background: #D3B38C
}
figure {
    background: #C77966
}

/* add your pseudo classes below this line */

a:link {
    color: #FBF7E4
}
a:visited {
    color: #644D52
}
a:focus {
    color: #F3E59A
}
a:hover {
    color: #F3B59B
}
a:active {
    color: #F29C9C
}

footer a:link {
    color: #3FB8AF
}
footer a:visited {
    color: #7FC7AF
}
footer a:focus {
    color: #DAD8A7
}
footer a:hover {
    color: #FF9E9D
}
footer a:active {
    color: #FF3D7F
}
